.contenedor-tarjeta{
    display: flex;
    flex-wrap: wrap;
}


.tarjeta-individual{

    margin: 30px 20px;
    border: 2px solid rgba(39, 39, 129, 0.747);
}

.paginador-contenedor{

    margin-bottom: 30px;
}