<div
  class="max-w-3xl mx-auto mt-10 p-6 bg-white dark:bg-gray-800 shadow rounded"
>
  <h1 class="text-2xl font-bold mb-6 dark:text-white">Editar contenido</h1>

  <div *ngIf="loading" class="text-gray-400">Cargando...</div>

  <form *ngIf="!loading" [formGroup]="form">
    <label class="font-semibold dark:text-white">Título</label>
    <input
      formControlName="titulo"
      class="w-full p-2 border rounded mb-4 dark:bg-gray-700 dark:text-white"
    />

    <label class="font-semibold dark:text-white">Tema</label>
    <input
      formControlName="tema"
      class="w-full p-2 border rounded mb-4 dark:bg-gray-700 dark:text-white"
    />

    <label class="font-semibold dark:text-white">Nivel de dificultad</label>
    <input
      formControlName="nivelDificultad"
      class="w-full p-2 border rounded mb-4 dark:bg-gray-700 dark:text-white"
    />

    <label class="font-semibold dark:text-white">Cuerpo</label>
    <textarea
      formControlName="cuerpo"
      rows="5"
      class="w-full p-2 border rounded dark:bg-gray-700 dark:text-white"
    ></textarea>
  </form>

  <button
    (click)="save()"
    class="mt-6 w-full bg-green-700 text-white py-2 rounded"
  >
    Guardar cambios
  </button>
</div>
