<div class="quiz-list-container">
  <h2 class="text-xl font-semibold mb-4 titulo-seccion-quiz">
    Cuestionarios disponibles
  </h2>

  <div *ngIf="quizzes.length === 0" class="text-gray-500 no-cuestionarios">
    No hay cuestionarios disponibles
  </div>

  <ul class="quiz-list">
    <li
      *ngFor="let quiz of quizzes"
      class="quiz-item"
      [routerLink]="['/quiz', quiz.id]"
      style="
        cursor: pointer;
        padding: 10px;
        border: 3px solid #251569;
        border-radius: 8px;
        margin-bottom: 15px;
        font-size: 20px;
      "
    >
      <h3 style="margin: 0; font-size: 20px; font-weight: bold; color: #251569">
        {{ quiz.title }}
      </h3>
      <p style="margin: 0; color: rgb(58, 57, 57)">{{ quiz.description }}</p>
    </li>
  </ul>
</div>
