h1{
    font-size: 40px;
}

h2{
    font-size: 30px;
    color: rgb(27, 26, 26);
}


.titulo-parrafo-hero{
    font-size: 28px;
}

#app-title{
    font-weight: bold;
    font-size: 26px;
}

.seccion-parrafos{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.seccion-texto{
    /*border: 0px solid rgba(39, 39, 230, 0.158);*/
    border-radius: 4px;
    padding: 15px;
    margin: 50px 20px;
    text-align: justify;
    background-color: rgba(111, 111, 218, 0.164);
    color: rgb(23, 23, 26);
}

.texto-titulo-enlace{
    text-align: center;
    font-size: 35px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgb(29, 29, 97);
}

.contenido-parrafo{
    padding: 20px;
}

.boton-registrar{
    font-size: 20px;
    color: rgb(5, 5, 43);
}

.seccion-registrar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    margin-left: 40px;
    margin-top: 50px;
    margin-bottom: 45px;
}

#cuestionario-texto{
    font-weight: bold;
    color: rgb(43, 40, 40);
}

.parrafo-container-inicio{
    margin: 25px 50px;
    font-size: 20px;
}

.parrafo-pon-prueba{
    margin-bottom: 80px;
}