<!----INICIO CABECERA-->

<div class="hero-header hero-inicio">
  <div class="hero-content">
    <h1
      class="mb-4 text-4xl font-extrabold leading-none tracking-tight md:text-5xl lg:text-6xl"
    >
      Tú eres la clave de nuestra seguridad.
    </h1>

    <p class="mb-6 text-lg font-normal lg:text-xl sm:px-16">
      Bienvenido/a a la nueva herramienta de refuerzo en ciberseguridad de
      <span id="app-title">SecuraTest</span>. Nuestro objetivo es simple:
      proporcionarte la información que necesitas para protegerte a ti y a la
      compañía de forma eficaz. En esta aplicación encontrarás guías rápidas y
      las últimas alertas de seguridad. Te animamos a explorar el contenido y a
      realizar las actividades propuestas para fortalecer nuestra cultura de
      seguridad.
    </p>

    <a
      routerLink="/login"
      class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900"
    >
      Entrar
      <svg
        class="w-3.5 h-3.5 ms-2 rtl:rotate-180"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 5h12m0 0L9 1m4 4L9 9"
        />
      </svg>
    </a>
  </div>
</div>
<!----FIN CABECERA-->
<br /><br />

<div class="seccion-parrafos">
  <div class="seccion-texto">
    <!----PRIMERA SECCION-->
    <h2 class="text-4xl font-extrabold dark:text-white">
      El Factor Humano. Nuestra Primera Línea de Defensa.
    </h2>
    <p class="mb-4 text-lg font-normal text-white-500 dark:text-white-400 contenido-parrafo">
      La ciberseguridad ya no es solo cosa de TI. Es una responsabilidad de
      todos. Accede a nuestra plataforma y domina las tácticas para identificar
      el phishing, prevenir fugas de datos y proteger la reputación de nuestro
      departamento. Tu conocimiento es nuestro mejor firewall.
    </p>
  </div>

  <div class="seccion-texto">
    <!---SEGUNDA SECCION-->
    <h2 class="text-4xl font-extrabold dark:text-white">
      Artículos que te Hacen Pensar como un Hacker.
    </h2>
    <p class="mb-4 text-lg font-normal text-white-500 dark:text-white-400 contenido-parrafo">
      SecuraTest es una biblioteca de artículos y guías de ciberseguridad,
      breves y actualizados, diseñados específicamente para las necesidades del
      departamento. Desde la gestión de contraseñas hasta la detección de
      amenazas avanzadas, te damos el conocimiento que necesitas para navegar y
      trabajar sin riesgo.
    </p>
  </div>
</div>

<div>
     <h2 class="text-4xl font-extrabold dark:text-white texto-titulo-enlace">
      Pon a prueba tus conocimientos
    </h2>
 <p class="mb-4 text-lg font-normal text-gray-700 dark:text-gray-400">
   ¿Crees que puedes identificar un phishing? Demuéstralo. Nuestra sección de <span id="cuestionario-texto">Cuestionarios 
   Interactivos</span> está diseñada para medir tu nivel de seguridad actual y detectar
    rápidamente tus puntos débiles. No es solo un examen, es un entrenamiento 
   dinámico para que sepas exactamente dónde enfocar tu próxima mejora.
     </p>  
</div>
  <div class="seccion-registrar">
       <a
      routerLink="/register"
      class="font-medium text-indigo-600 dark:text-indigo-400 hover:text-indigo-500 dark:hover:text-indigo-300 transition duration-150 boton-registrar"
    >
      Regístrate aquí</a>
      <p class="mb-4 text-lg font-normal text-gray-700 dark:text-gray-400">
      y empieza hoy a fortalecer la primera línea de defensa de nuestra empresa: tú mismo.
    </p>
  </div>
  