.animate-fadeIn {
  animation: fadeIn .35s ease forwards;
}
.animate-scaleIn {
  animation: scaleIn .35s ease forwards;
}

@keyframes fadeIn {
  from { opacity: 0 }
  to   { opacity: 1 }
}

@keyframes scaleIn {
  from { opacity:0; transform:scale(.85) }
  to   { opacity:1; transform:scale(1) }
}
