/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: rgba(215, 215, 243, 0.185);
}

.hero-header {
  position: relative;
  padding: 6rem 1.5rem;
  text-align: center;
  color: rgb(255, 255, 255);
  overflow: hidden;
  background-image: url('/assets/images/headerContenidos/contenido5.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.hero-header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 24, 44, 0.767);
  z-index: 1;
}

.hero-header .hero-content {
  position: relative;
  z-index: 2;
  max-width: 900px;
  margin: 0 auto;
}

/* Reglas para los textos (puedes tener h1, h2, etc.) */
.hero-header .hero-content h1,
.hero-header .hero-content h2 {
  font-weight: 800;
  text-shadow: 0px 3px 7px rgba(112, 92, 92, 0.6);
}

.hero-header .hero-content p {
  font-weight: 400;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
}

.hero-inicio {
  background-image: url('/assets/images/headerContenidos/contenido8.jpg');
}