<div
  class="max-w-4xl mx-auto mt-10 p-6 bg-white dark:bg-gray-800 shadow rounded"
>
  <h1 class="text-2xl font-bold mb-6 dark:text-white">
    Crear nuevo cuestionario
  </h1>

  <form [formGroup]="quizForm">
    <!-- Título -->
    <div class="mb-4">
      <label class="font-semibold dark:text-white">Título</label>
      <input
        type="text"
        formControlName="title"
        class="w-full p-2 border rounded dark:bg-gray-700 dark:text-white"
      />
    </div>

    <!-- Descripción -->
    <div class="mb-6">
      <label class="font-semibold dark:text-white">Descripción</label>
      <textarea
        formControlName="description"
        class="w-full p-2 border rounded dark:bg-gray-700 dark:text-white"
      ></textarea>
    </div>

    <!-- Preguntas -->
    <div formArrayName="questions">
      <h2 class="text-xl font-semibold mb-4 dark:text-white">Preguntas</h2>

      <div
        *ngFor="let q of questions.controls; let qi = index"
        [formGroupName]="qi"
        class="border p-4 mb-4 rounded dark:border-gray-600"
      >
        <label class="font-semibold dark:text-white">
          Pregunta {{ qi + 1 }}
        </label>
        <input
          type="text"
          formControlName="text"
          class="w-full p-2 border rounded dark:bg-gray-700 dark:text-white mb-3"
        />

        <!-- Opciones -->
        <div formArrayName="options" class="ml-4">
          <div
            *ngFor="let opt of getOptions(qi).controls; let oi = index"
            [formGroupName]="oi"
            class="flex items-center mb-2"
          >
            <input
              type="radio"
              name="create_correctOption_{{ qi }}"
              [checked]="opt.get('correct')?.value"
              (change)="setCorrectOption(qi, oi)"
              class="mr-2"
            />

            <input
              type="text"
              formControlName="text"
              class="flex-1 p-2 border rounded dark:bg-gray-700 dark:text-white"
            />
          </div>

          <button
            type="button"
            (click)="addOption(qi)"
            class="mt-2 px-3 py-1 bg-blue-600 text-white rounded hover:bg-blue-700"
          >
            + Agregar opción
          </button>
        </div>
      </div>

      <button
        type="button"
        (click)="addQuestion()"
        class="px-4 py-2 bg-green-600 text-white rounded hover:bg-green-700"
      >
        + Agregar pregunta
      </button>
    </div>
  </form>

  <button
    (click)="saveQuiz()"
    class="mt-6 w-full bg-green-700 text-white py-2 rounded hover:bg-green-800"
  >
    Guardar cuestionario
  </button>
</div>
