
h2{
    font-weight: 800;
}

.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label{
    margin-right: 13px;
    font-weight: 600;
}

.form-group{
    margin: 6px 8px;
    padding: 10px;
}

button{
    background-color: rgb(48, 48, 77);
    padding: 15px;
    border-radius: 4px;
    height: 50px;
    width: 75px;
    color: aliceblue;
    font-weight:500;
}